.header__lang-link {
    color: #FFF;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 117%;
    text-decoration: none;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width:320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}