.heder__lang-link {
  color: #FFF;
  height: 28px;
  width: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  text-decoration-line: underline;
  padding-left: 18px;
}

@media screen and (max-width:320px) {
  .heder__lang-link {
    font-size: 18px;
    line-height: 20px;

}
}