.page {
    max-width: 1280px;
    margin: auto;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}