@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-Bold.ttf);
    font-weight: bold;
  }
body {
  background-color: #2A2C2F;
}

.page {
  max-width: 1280px;
  margin: auto;
  font-family: 'Inter';
  text-rendering:optimizeLegibility;
    
}


.header {
  max-width: 1184px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  height: 52px;
  margin: 28px auto 0px;

}

.header__logo { 
  width: 176px;
  height: 52px;

}

.heder__lang-link {
  color: #FFF;
  height: 28px;
  width: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2;

}

.heder__lang-link_en {
  width: 29px;
  text-decoration: none;
  margin-left: 18px;

}

.content{

}

.wrapper{
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;

}

.lead {   
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 56px auto 0px;
  text-align: center;
  align-items: center;

}

.lead__titele {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: auto;
  max-width: 720px;
  text-align: center;

}

.lead__subtitle {
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  margin: 32px auto 64px;
  width: 50%;  

}

.lead__image {
  width: 984px;
  max-width: 100%;
  height: auto;
}

.lead__caption {
  color: #FFFFFF;
  width: 158px;
  height: 14px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  align-self: flex-start;
  text-align: start;
  margin: 8px 0px 0px;
  text-transform: uppercase;

}
.intro { 
  max-width: 690px;
  display: flex;
  flex-direction: column;
  margin: 92px 0px;

}

.intro__title {
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0px;
  
}

.intro__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  margin: 40px 0px 33px;
  color: #FFFFFF;
  width: 90%;
}

.intro__list {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0px;

}

.photo-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  margin: 0px auto;
}

@media screen and (max-width:1024px) {
.photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
}

.photo-grid__item {
    width: 100%;
    height: auto;
}



.places {
    max-width: 984px;
    height: auto;
    display: flex;
    margin: 92px auto;
    flex-direction: column;
}

.place {
  max-width: 984px;
  max-height: 660px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 1fr ;
  gap: 48px 40px;
  margin-bottom: 80px;
}

.place:last-child
{
  margin: 0px;
}

.place__title {
  max-width: 460px;
  height: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0px;
  text-align: start;
  align-self: end;

}

.place__image {
  max-width: 460px;
  height: 460px;
   
}

.place__website {
  width: 100%;
  align-self: end;

}

.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #AAAAAA;
  margin: 0px;
  margin-bottom: 12px;
}

.place__link {
  color: #FFFFFF;
    
}


.place__paragraph {
  max-width: 484px;
  height: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 26px;
}

.cover {
  max-width: 1184px;
  height: 740px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(./image/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.cover__title {
  max-width: 560px;
  height: 152px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.2;
  text-align: center;
  margin: 0px;
  margin-bottom: 32px;
  z-index: 3;
  color: #FFFFFF;



}

.cover__subtitle {
  max-width: 360px;
  height: 66px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0px;
  z-index: 3;
  color: #FFFFFF;

}
.cover__overlay {
  position: absolute;
    width: 1184px;
    height: 740px;
  }

.cover::before {
  content:"";
  display: block;
  height: 740px;
  position: absolute;
  width: 100%;
  background: #2A2C2F;
  opacity: 0.3;

}

.footer {
 max-width: 1184px;
  height: 18px;
  margin: 92px auto  24px;
  display: flex;
  justify-content: space-between;

}
.footer_links {
  display: flex;
  margin: 0px;
  list-style: none;
  padding: 0px;


}

.footer__link {
  width: 50px;
  height: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
  


}
.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0px;

}

