.cover__subtitle {
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
}

@media screen and (max-width:600px) {
    .cover__subtitle {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .cover__subtitle {
        font-size: 16px;
    }
}

@media screen and (max-width:320px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 114%;
    }
}