.place__paragraph {
  max-width: 484px;
  height: auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0px;
  margin-bottom: 26px;

}
  
.place__paragraph:last-child{
  margin: 0px;

}
  
@media screen and (max-width:768px){
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  
}
}