.lead__subtitle {
    color: #FFFFFF;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 64px;
    max-width: 640px;
}

@media screen and (max-width:375px) {
    .lead__subtitle {
        font-size: 18px;
    }
}

@media screen and (max-width:320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        width: 100%;
    }
}