.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    margin: 0px;
    text-align: center;
    margin-bottom: 32px;
}

@media screen and (max-width:504px) {
    .cover__title {
        font-size: 55px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:425px) {
    .cover__title {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:375px) {
    .cover__title {
        font-size: 45px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:320px) {
    .cover__title {
        font-size: 32px;
        line-height: 109%;
    }
}