.place {
    max-width: 984px;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 152px 1fr;
    gap: 48px 40px;
    margin-bottom: 80px;
}

@media screen and (max-width:1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 340px 1fr;
        grid-template-rows: 46px 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width:555px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: 35px 46px;
        row-gap: 32px;
        max-width: 320px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: 35px 46px;
        row-gap: 32px;
        max-width: 320px;
        margin-bottom: 50px;
    }
}

.place:last-child {
    margin: 0px;
}