.footer {
    max-width: 1280px;
    margin: 92px 0px 24px;
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
}

@media screen and (max-width:768px) {
    .footer {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width:580px) {
    .footer {
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media screen and (max-width:320px) {
    .footer {
        flex-direction: column;
        margin: 64px 0px 24px;
        font-size: 24px;
        line-height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}