.intro__title {
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0px;
    
}
  
@media screen and (max-width:320px) {
  .intro__title { 
     font-size: 32px;
     line-height: 109%;

}
}
  
  